/* constrain width - hide all from Mac IE \*/
#head-er .accessibility-login,
#head-er .image-user-services,
#head-er .publications-search,
div.footer-constrain {
	max-width:930px;
	margin:0 auto;
}

/* required for IE 5.5 \*/
* html #head-er .accessibility-login-wrap,
* html #head-er .image-user-services-wrap,
* html #head-er .publications-search-wrap,
* html div.footer-constrain {
	text-align:center;
}
/* end required for IE 5.5 \*/

#breadcrumb {
	margin-right:0;
	margin-left:0;
}

/* body constrain \*/
#constrain {
	clear:both;
	text-align:center;
	padding:0 1%;
}

#constrain .constrain {
	max-width:930px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}

body div#content.margin-provider {margin:0;}/* subject area pages \*/
#content-journalnav {margin-left:0;}
#content-extranav {margin-right: 0;}
#extranav {margin-right:0;}
#journalnav {margin-left: 0;}
#article-related #content {
	margin-left:0;
	margin-right:0;
}
/* end constrain, end hide from mac IE */