  .gsc-control-cse {
    font-family: Arial, sans-serif;
    border-color: #FFFFFF;
    background-color: #FEF1DD;
    margin-top: 0;
    margin-bottom: 0;
  }
  input.gsc-input {
    border-color: #777777;
    width: 30%;
  }
  input.gsc-search-button {
      background-color: #081838;
      border: 1px solid #000000;
      color: #FFFFFF;
      font-size: 9px;
      font-weight: normal;
      padding: 0 1px 1px;
      text-transform: lowercase;
  }
  .gsc-tabHeader.gsc-tabhInactive {
    border-color: #777777;
    background-color: #777777;
  }
  .gsc-tabHeader.gsc-tabhActive {
    border-color: #333333;
    background-color: #333333;
  }
  .gsc-tabsArea {
    border-color: #333333;
  }
  .gsc-webResult.gsc-result {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
  }
  .gsc-webResult.gsc-result:hover {
    border-color: #000000;
    background-color: #FFFFFF;
  }
  .gs-webResult.gs-result a.gs-title:link,
  .gs-webResult.gs-result a.gs-title:link b {
    color: #840800;
  }
  .gs-webResult.gs-result a.gs-title:visited,
  .gs-webResult.gs-result a.gs-title:visited b {
    color: #840800;
  }
  .gs-webResult.gs-result a.gs-title:hover,
  .gs-webResult.gs-result a.gs-title:hover b {
    color: #000000;
  }
  .gs-webResult.gs-result a.gs-title:active,
  .gs-webResult.gs-result a.gs-title:active b {
    color: #777777;
  }
  .gsc-cursor-page {
    color: #840800;
  }
  a.gsc-trailing-more-results:link {
    color: #840800;
  }
  .gs-webResult .gs-snippet {
    color: #333333;
    font-size: 95%;
  }
  .gs-webResult div.gs-visibleUrl {
    color: #840800;
  }
  .gs-webResult div.gs-visibleUrl-short {
    color: #840800;
  }
  .gs-webResult div.gs-visibleUrl-short {
    display: none;
  }
  .gs-webResult div.gs-visibleUrl-long {
    display: block;
  }
  .gsc-cursor-box {
    border-color: #FFFFFF;
  }
  #head-er .gsc-results .gsc-cursor-box .gsc-cursor-page {
      border-color: #FFFFFF;
      background-color: #FFFFFF;
      text-decoration: none;
      color: #840800;
  }
  #head-er .gsc-results .gsc-cursor-page.gsc-cursor-current-page {
      padding: 2px;
      border: 1px solid #840800;
      background-color: #FFFFFF;
  }

  .gsc-result { margin-bottom: 15px }
  .gsc-branding { display: none; }
  #head-er form.gsc-search-box {
      margin-bottom: 0px;
      width: 200px;
      margin-left: auto;
  }

  #head-er .gsc-tabsArea { display: none; }

  #head-er .gsc-resultsbox-visible {
      background: none repeat scroll 0 0 #FFFFFF;
      border: 1px solid #840800;
      padding: 5px 5px 5px 10px;
      position: absolute;
      box-shadow: 3px 3px 4px #000;
      -moz-box-shadow: 3px 3px 4px #000;
      -webkit-box-shadow: 3px 3px 4px #000;
      margin-left: 5px;
  }

  #head-er .gsc-cursor-box{display:table;width:100%}
  #head-er .gsc-cursor-box div{display:table-cell}
  #head-er .gsc-cursor-box div.gsc-cursor{float:none;text-align:left}
  #head-er .gsc-cursor-box div.gsc-cursor div { display: inline; }
  #head-er .gsc-cursor-box div.gsc-cursor-close { padding-right: 1em; background-position: center right; }
