/* main page layout css file - positions header, leftnav, content, rightnav and footer. */
#header {
	margin:0;
	padding:0;
}

#breadcrumb {
	clear:both;
	margin-right:1%;
	margin-left:1%;
	border-bottom:1px solid #fff;
}



/* constrain divs for fixed width layouts */
#constrain, #constrain div.constrain {float:left;}
/* hide from Mac IE \*/
#constrain, #constrain div.constrain {float:none;}
/* end hide from Mac IE */
/* end constrain divs */



/* #content-journalnav is simply a container for content and journalnav, enabling content to appear before navigation in HTML source. See http://www.positioniseverything.net/ordered-floats.html for more info. */
#content-journalnav {
	display:inline; /* gets around IE 5/6 bug that doubles the margin - ignored by all other browsers - details at http://www.positioniseverything.net/explorer/doubled-margin.html */
	width:100%;
	float:left;
	margin-left:1%;
	padding-top:6px;
	/*border-top:1px solid #fff; matches same rule in extranav */
}
/* begin clearing styles */
#content-journalnav:after {
    content:url(/cmg_update/npg_images/clear.gif);
    display:block; 
    height:0; 
    clear:both; 
    visibility:hidden;
}
/* Hides from IE-mac \*/
* html #content-journalnav {height: 1%;}
/* End hide from IE-mac */
/*end clearing styles*/





#journalnav {
	float:left;
	width:15.75%;
#	width:20%;
	border-top:1px solid #fff;
}
/* begin clearing styles */
#journalnav:after {
    content:url(/cmg_update/npg_images/clear.gif);
    display:block; 
    height:0; 
    clear:both; 
    visibility:hidden;
}
/* Hides from IE-mac \*/
* html #journalnav {height: 1%;}
/* End hide from IE-mac */
/*end clearing styles*/





#content {
	float:right;
	width:82%;
	margin-left:0;
	padding-bottom:1em;
}
/* begin clearing styles */
#content:after {
    content:url(/cmg_update/npg_images/clear.gif);
    display:block; 
    height:0; 
    clear:both; 
    visibility:hidden;
}
/* Hides from IE-mac \*/
* html #content {height: 1%;}
/* End hide from IE-mac */
/*end clearing styles*/

* html #content-journalnav {width:74%;}