{% set config = get_config() %}
{% set page = "associations" %}
{% set title = "%s: %s"|format(name, config.typs[typ]) %}
{% extends "_base/_base.html" %}
{% block head %}{% include "_clustergrammer/_head.html" %}{% endblock %}
{% block body %}
<div id="content">
	{% set clustergram = {"title": "%s: %s"|format(name, config.typs[typ])} %}
	{% include "_clustergrammer/_body.html" %}
</div>
{% endblock %}
{% block scripts %}
	{% set clustergram = evaluate("associations/__association.sql", name=name, typ=typ) %}
	{% include "_clustergrammer/_scripts.html" %}
{% endblock %}
