html, body {
  max-width: 100%;
}

h1 {
  margin-bottom: 20px;
}

#wrap {
  min-height: 100%;
  min-width: 800px;
}

.clustergrammer_container {
  width: 1140px;
  height: 750px;
  margin-bottom: 10px;
  overflow: hidden;
}

.clustergrammer_logo {
  width:210px;
}

.viz_description {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 20px;
  text-align: justify;
  margin-bottom: 30px;
}

.btn {
  padding-top:2px;
  padding-bottom:2px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  max-width: 500px;
  top:0px;
}

.sidebar_text {
  font-weight: 300;
}

.icon_buttons {
  color: #337ab7;
}

.share_url {
  width: 570px;
}

.wait_message {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 300;
  margin-left: 5px;
}
