{% set page = "interactions" %}
{% set subpage = "component" %}
{% set title = title|default(name) %}
{% set table = graph|default("interactions/%s"|format(name)) %}
{% set graph = graph|default("interactions/%s"|format(name)) %}
{% extends "_base/_base.html" %}
{% block head %}
	{{ include("_table/_head.html") }}
	{{ include("_graph/_head.html") }}
{% endblock %}
{% block body %}
	<h1>
		<a href="{{ config.base }}/interactions.html">Protein Interactions</a>
		<a href="#!">&gt;</a>
		<a href="{{ config.base }}/interactions/all.html">All Components</a>
		{% if name %}
			<a href="#!">&gt;</a>
			<a href="{{ config.base }}/interactions/{{ name|urlize }}.html">{{ name }}</a>
		{% endif %}
	</h1>
	<p>Select a node to view its neighborhood or to view it on another database.</p>
	<p>Select an edge to view its source article(s).</p>
	{{ include("_graph/_body.html", graph=graph) }}
	<div class="flex-expand flex-row">
		<div>
			<input type="checkbox" id="intrinsic" checked="checked" />
			<label for="intrinsic"><span style="background-color: #081838;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Intrinsic Proteins</label>
			<br />
			<input type="checkbox" id="associated" checked="checked" />
			<label for="associated"><span style="background-color: #fec672;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Associated Protiens</label>
		</div>
		<div class="flex-expand">&nbsp;</div>
		<span>
			<span id="graph-stat-components">0</span> Components<br />
			<span id="graph-stat-interactions">0</span> Interactions
		</span>
	</div>
	{% set table = table %}
	{% block table_body %}
	<br />
	<div class="flex-expand">
		{{ include("_table/_body.html", table=table) }}
	</div>
	{% endblock %}
{% endblock %}

{% block scripts %}
	{% set table = table %}
	{% block table_scripts %}
		{{ include("_table/_scripts.html", table=table) }}
	{% endblock %}
	{{ include("_graph/_scripts.html", central=name, graph=graph) }}
{% endblock %}
