body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.wrap {
	display: flex;
	flex-direction: column;
}

.wrap-row {
	display: flex;
	flex-direction: row;
}

.expand {
	flex: 1 0 auto;
}

#constrain {
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#constrain .constrain {
	margin: 0;
	max-width: 80vw;
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
}

#content-journalnav {
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
}

#content {
	padding-left: 10px;
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

#journalnav {
	min-width: 150px;
}

iframe {
	border-style: none;
}

.data-table {
	display: none;
}

.image-user-services {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.image-user-services a {
	text-decoration: none;
	color: #fff;
	font-size: 250%;
}

.page-header a, .page-header a:hover, .page-header a:visited {
	text-decoration: none;
	color: inherit;
}

/* Override bootstrap */
.row {
	margin: 0;
}