body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.wrap {
	display: flex;
	flex-direction: column;
}

.wrap-row {
	display: flex;
	flex-direction: row;
}

.expand {
	flex: 1 0 auto;
}

#constrain {
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#constrain .constrain {
	margin-left: 50;
	margin-right: 50;
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
}

#content-journalnav {
	flex: 1 0 auto;
	display: flex;
	max-width:980px;
	flex-direction: row-reverse;
}

#content {
	padding-left: 10px;
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

#journalnav {
	min-width: 150px;
}

iframe {
	border-style: none;
}

.data-table {
	display: none;
}

.image-user-services {
	display: flex;
	flex-direction: row;
}
.image-user-services a {
	text-decoration: none;
	color: #fff;
	font-size: 250%;
}
