{% set cur = get_cursor() %}
{% set clustergram = (cur|query("select `{0}` from `datasets` where `Name`=?".format(typ), name)).data.0.0 %}
{% set page = "associations" %}
{% extends "_base.html" %}
{% block head %}
<!-- <link rel="stylesheet" href="/static/lib/css/bootstrap.css"> -->
<link rel="stylesheet" href="/static/css/jquery-ui.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/custom_new.css">
{% endblock %}
{% block body %}
<div id="content">
	<div id="clustergrammer" class="expand" style="max-height: 100vh;">
		<h1 class='wait_message'>Please wait ...</h1>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/lib/js/d3.js"></script>
<script src="/static/lib/js/jquery-1.11.2.min.js"></script>
<script src="/static/lib/js/jquery-ui.js"></script>
<script src="/static/lib/js/bootstrap.min.js"></script>
<script src="/static/lib/js/underscore-min.js"></script>
<script src='/static/js/clustergrammer.v1.3.1.js'></script>
<script src='/static/js/load_viz_new.js'></script>
<script>
	viz_name = '{{ name }}';
	load_viz_new({{ clustergram }});
</script>
{% endblock %}
