{% set title = "Associations %s"|format(name) %}
{% set page = "associations" %}
{% set path = "../" %}
{% extends "_base.html" %}
{% block body %}
<main class="container wrap">
	<h1>{{ name }}</h1>
	<div class="row wrap expand">
		{% set cluster_types = ["viz", "sim_row", "sim_col"] %}
		<div class="col s12">
			<ul class="tabs">
				{% for typ in cluster_types %}
					<li class="tab col s4"><a href="#{{ typ }}">{{ type|capitalize }}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% for typ in cluster_types %}
			<iframe id="{{ typ }}" class="col s12 expand" frameborder="0" border="0" cellspacing="0" src="{{ uri }}_{{ typ }}.html"></iframe>
		{% endfor %}
	</div>
</main>
{% endblock %}
