{% set cur = get_cursor() %}
{% set clustergram = (cur|query("select `{0}` from `datasets` where `Name`=?".format(typ), name)).data.0.0 %}
{% set page = "associations" %}
{% extends "_base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ base }}/static/lib/css/bootstrap.css">
<link rel="stylesheet" href="{{ base }}/static/lib/css/jquery-ui.css">
<link rel="stylesheet" href="{{ base }}/static/lib/font-awesome.min.css">
<link rel="stylesheet" href="{{ base }}/static/css/custom_multiple_clust.css">
<style>
  #input_form {display: none}
</style>
{% endblock %}
{% block body %}
<div id="content">
	<div id="wrap" class="expand">
		<div class='row viz_title' id='clustergram_title'>
			{{ name }}: {{ typ }}
		</div>
		<div class="row" >
		  <div id='container-id-1' class='clustergrammer_container'>
			  <div class='wait_message'>Please wait ...</div>
		  </div>
		</div>
		{#
		<div class='row viz_description' id='clustergram_desc'>
		</div>
		#}
	</div>
</div>
{% endblock %}
{% block scripts %}
<!-- Required JS Libraries -->
<script src="{{ base }}/static/lib/js/d3.js"></script>
<script src="{{ base }}/static/lib/js/jquery-1.11.2.min.js"></script>
<script src="{{ base }}/static/lib/js/jquery-ui.js"></script>
<script src="{{ base }}/static/lib/js/bootstrap.min.js"></script>
<script src="{{ base }}/static/lib/js/underscore-min.js"></script>
<!-- Clustergrammer JS -->
<script src='{{ base }}/static/js/clustergrammer.js'></script>
<script src='{{ base }}/static/js/load_multiple_clustergrams.js'></script>
<script>make_clust({{ clustergram }});</script>
{% endblock %}
