{% set cur = get_cursor() %}
{% set clustergram = (cur|query("select `{0}` from `datasets` where `Name`=?".format(typ), name)).data.0.0 %}
{% extends "_base_bare.html" %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/jquery-ui.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/custom_new.css">
<link rel="stylesheet" href="/css/main.css">
{% endblock %}
{% block body %}
<div id="content">
	<div id="clustergram" class="expand"></div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/d3.js"></script>
<script src="/static/js/jquery-1.11.2.min.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/underscore-min.js"></script>
<script src="/static/js/clustergrammer.v1.3.1.js"></script>
<script src="/static/js/load_viz_new.js"></script>
<script>
	viz_name = '{{ name }}';
	load_viz_new({{ clustergram }});
</script>
{% endblock %}
