{% set title = title|default(page|capitalize) %}
{% set path = path|default("") %}

{% extends "_base_bare.html" %}

{% block head %}
	<title>Adhesome - {{ title }}</title>
	<meta http-equiv=Content-Type content="text/html; charset=iso-8859-1">
	<meta content="Iyengar Laboratory, The Weizmann Institute of Science, Adhesome, Focal Adhesion Complex, Benny Geiger, Weizzman, Ravi Iyengar, Mount Sinai School of Medicine, Mount Sinai, New York, medical school, NYC, New York City, cancer, pharmacology, biological chemistry, psychiatry, signal transduction, G protein and effectors, protein-protein interactions, drug design, cellular signaling networks, cellular signaling systems, signaling pathways, computational models, systems biology, computational biology, graph theory analysis, spatiotemporal organization, g-protein mediated signaling, g-protein, effectors, protein-protein interactions,proteomics and genomics to identify signal transduction pathways, analysis and visualization of large-scale signaling networks in mammalian cells, SAVI, PathwayGenerator, bioinformatics" name="keywords">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{{ path }}css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="{{ path }}css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="{{ path }}css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block header %}
	{% set logo = "ADHESOME<em>FA</em>network" %}
	{% set menu %}
		<li{% if page == "home" %} class="active"{% endif %}><a href="{{ path }}index.html">Home</a></li>
		<li{% if page == "components" %} class="active"{% endif %}><a href="{{ path }}components.html">Components</a></li>
		<li{% if page == "associations" %} class="active"{% endif %}><a href="{{ path }}associations.html">Functional Associations</a></li>
		<li{% if page == "interactions" %} class="active"{% endif %}><a href="{{ path }}interactions.html">Protein Interactions</a></li>
		<li{% if page == "download" %} class="active"{% endif %}><a href="{{ path }}download.html">Download</a></li>
		<li{% if page == "contact" %} class="active"{% endif %}><a href="{{ path }}contact.html">Contact Us</a></li>
	{% endset %}
	<header>
		<nav class="green">
			<div class="nav-wrapper">
				<div id="logo-container" href="#" class="brand-logo center hide-on-large-only">{{ logo }}</div>
				<div id="logo-container" href="#" class="brand-logo right hide-on-med-and-down">{{ logo }}</div>
				<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="left hide-on-med-and-down">{{ menu }}</ul>
				<ul class="side-nav" id="nav-mobile">{{ menu }}</ul>
			</div>
		</nav>
	</header>
{% endblock %}

{% block footer %}
	<footer class="page-footer white">
		<div class="footer-copyright center">
			<div class="container grey-text">Copyright &copy; 2006. All Rights Reserved.</div>
		</div>
	</footer>
{% endblock %}

{% block scripts %}
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="{{ path }}js/materialize.js"></script>
	<script src="{{ path }}js/jquery.dataTables.min.js"></script>
	<script src="{{ path }}js/main.js"></script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-6277639-8']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
{% endblock %}
