{% extends "_component.html" %}
{% block interactions %}{% endblock %}
{% block cytoscape %}
{% set cur = get_cursor() %}
{% set nodes = (cur|query('select `Official Symbol`, `FA` from `components`')).data %}
{% set edges_query %}
	select
		`Source`,
		`Target`,
		`PMID`
	from
		`edges`
	where
		`Source` in (select `Official Symbol` from `components`)
	and `Target` in (select `Official Symbol` from `components`);
{% endset %}
{% set edges = (cur|query(edges_query)).data %}
<script>
{% set base = base %}
{% include "_graph.html" %}
</script>
{% endblock %}
