{% if name %}
	{% set title = "Component: %s"|format(name) %}
{% else %}
	{% set title = "Components" %}
{% endif %}
{% set page = "components" %}
{% extends "_base.html" %}
{% block head %}
<link rel="stylesheet" href="/jquery.qtip.min.css">
{% endblock %}
{% block body %}
<div id="content">
	<h1 class="page-header">
		<a href="/components.html">Components</a>
		<a href="#!">&gt;</a>
		<a href="all.html">All Components</a>
		{% if name != "all" %}
			<a href="#!">&gt;</a>
			<a href="{{ urlize(name) }}.html">{{ name }}</a>
		{% endif %}
	</h1>
	<div id="graph" class="expand"></div>
	<div>
		<input type="checkbox" id="intrinsic" checked="checked" />
		<label for="intrinsic"><span style="background-color: #555;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Intrinsic Proteins</label>
		<br />
		<input type="checkbox" id="associated" checked="checked" />
		<label for="associated"><span style="background-color: #aaa;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Associated Protiens</label>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="/js/cytoscape.min.js"></script>
<script src="/js/jquery.qtip.min.js"></script>
<script src="/js/cytoscape-qtip.js"></script>
<script src="/js/cola.v3.min.js"></script>
<script src="/js/cytoscape-cola.js"></script>
{% block cytoscape %}
{% set cur = get_cursor() %}
{% set node_view %}
create temp view `nodes_{0}` as
select `Official Symbol`, `FA`
from `components`
where `Official Symbol`="{0}"
or `Official Symbol` in (
	select `Target`
	from `edges`
	where `Source`="{0}")
or `Official Symbol` in (
	select `Source`
	from `edges`
	where `Target`="{0}");
{% endset %}
{% set edge_view %}
create temp view `edges_{0}` as
select
	`Source`,
	`Target`,
	`PMID`
from
	`edges`
where
	`Source` in (select `Official Symbol` from `nodes_{0}`)
and `Target` in (select `Official Symbol` from `nodes_{0}`);
{% endset %}
{% set res = cur|query_exec(node_view.format(name)), cur|query_exec(edge_view.format(name)) %}
{% set nodes = (cur|query('select * from nodes_{0}'.format(name))).data %}
{% set edges = (cur|query('select * from edges_{0}'.format(name))).data %}
{% set res = cur|query_exec('drop view `nodes_{0}`'.format(name)), cur|query_exec('drop view `edges_{0}`'.format(name)) %}
<script>
{% include "_graph.html" %}
cy.$('#{{ name }}').addClass('central')
</script>
{% endblock %}
{% endblock %}
