{% set title = title|default("Component: %s"|format(name)) %}
{% set page = page|default("components") %}
{% extends "_base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ base }}/jquery.qtip.min.css">
{% endblock %}

{% block body %}
<div id="content">
	<h1 class="page-header">
		<a href="{{ base }}/components.html">Components</a>
		<a href="#!">&gt;</a>
		<a href="all.html">All Components</a>
		{% if name %}
			<a href="#!">&gt;</a>
			<a href="{{ base }}/{{ urlize(name) }}.html">{{ name }}</a>
		{% endif %}
	</h1>
	<div id="graph" class="expand"></div>
	<div class="wrap-row">
		<div>
			<input type="checkbox" id="intrinsic" checked="checked" />
			<label for="intrinsic"><span style="background-color: #081838;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Intrinsic Proteins</label>
			<br />
			<input type="checkbox" id="associated" checked="checked" />
			<label for="associated"><span style="background-color: #fec672;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Associated Protiens</label>
		</div>
		<div class="expand">&nbsp;</div>
		<span>
			<span class="b">Network Stats</span><br />
			<span id="graph-stat-components"></span> Components<br />
			<span id="graph-stat-interactions"></span> Interactions
		</span>
	</div>
	{% block interactions %}
	<br />
	<div class="clearfix">
		{% set substitutions %} {
			"source": "<a href='{{ base }}/components/[[ source ]].html'>[[ source ]]</a>",
			"target": "<a href='{{ base }}/components/[[ target ]].html'>[[ target ]]</a>",
			"pmid": "<span style='white-space: nowrap'>[% for i in pmid.split(' ') %] <a href='http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=pubmed&dopt=Abstract&list_uids=[[ i ]]'><img src='{{ base }}/images/ncbi.png' /></a>&nbsp;[% endfor %]</span>"
		} {% endset %}
		{% set cur = get_cursor() %}
		{% set table = cur|query("select * from `interactions` where `Source`=? or `Target`=?", name, name)|apply(substitutions) %}
		{% set base = base %}
		{% include "_table.html" %}
	</div>
	{% endblock %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ base }}/js/cytoscape.min.js"></script>
<script src="{{ base }}/js/jquery.qtip.min.js"></script>
<script src="{{ base }}/js/cytoscape-qtip.js"></script>
<script src="{{ base }}/js/cola.v3.min.js"></script>
<script src="{{ base }}/js/cytoscape-cola.js"></script>

{% block cytoscape %}
{% set cur = get_cursor() %}
{% set node_view %}
	create temp view `nodes_{0}` as
	select
		`components`.`Official Symbol`,
		`components`.`FA`,
		`neighbors`.`Neighbors`*1.0/(select max(`neighbors`.`Neighbors`) from `neighbors`)
	from `components`
	left join `neighbors`
	on `components`.`Official Symbol`=`neighbors`.`Official Symbol`
	where `neighbors`.`Neighbors` not null
	and (`components`.`Official Symbol`="{0}"
	or `components`.`Official Symbol` in (
		select `Target`
		from `edges`
		where `Source`="{0}")
	or `components`.`Official Symbol` in (
		select `Source`
		from `edges`
		where `Target`="{0}"));
{% endset %}
{% set edge_view %}
	create temp view `edges_{0}` as
	select
		`Source`,
		`Target`,
		`PMID`
	from `edges`
	where
		`Source` in (select `Official Symbol` from `nodes_{0}`)
	and `Target` in (select `Official Symbol` from `nodes_{0}`);
{% endset %}
{% set res = cur|query_exec(node_view.format(name)), cur|query_exec(edge_view.format(name)) %}
{% set nodes = (cur|query("select * from nodes_{0}".format(name))).data %}
{% set edges = (cur|query("select * from edges_{0}".format(name))).data %}
{% set res = cur|query_exec("drop view `nodes_{0}`".format(name)), cur|query_exec("drop view `edges_{0}`".format(name)) %}
<script>
{% set base = base %}
{% include "_graph.html" %}
cy.$('#{{ name }}').addClass('central')
</script>
{% endblock %}
{% endblock %}
