var $ = $jq;
var cy = cytoscape({
	container: $('#graph'),
	style: [
		{
			"selector": "core",
			"style": {
				"selection-box-color": "#AAD8FF",
				"selection-box-border-color": "#8BB0D0",
				"selection-box-opacity": "0.2"
			}
		},
		{
			"selector": "node",
			"style": {
				"content": "data(name)",
				"font-size": "12px",
				"text-valign": "center",
				"text-halign": "center",
				"text-outline-color": "#555",
				"text-outline-width": "2px",
				"color": "#fff",
				"overlay-padding": "6px",
				"z-index": "10"
			}
		},
		{
			"selector": ".intrinsic",
			"style": {
				"background-color": "#555",
				"width": "50",
				"height": "50"
			}
		},
		{
			"selector": ".associated",
			"style": {
				"background-color": "#aaa",
				"width": "40",
				"height": "40"
			}
		},
		{
			"selector": ".central",
			"style": {
				"background-color": "#500",
				"width": "60",
				"height": "60"
			}
		},
		{
			"selector": ".hidden",
			"style": {
				"display": "none"
			}
		},
		{
			"selector": "edge",
			"style": {
				"curve-style": "haystack",
				"haystack-radius": "0.5",
				"opacity": "0.4",
				"line-color": "#222",
				"width": "mapData(weight, 0, 1, 1, 8)",
				"overlay-padding": "3px"
			}
		}
	],
	elements: [
		{% for sym, fa in nodes %}
			{
				data: {
					id: '{{ sym }}',
					name: '{{ sym }}'
				},
				classes: '{% if fa=="Intrinsic Proteins" %}intrinsic{% else %}associated{% endif %}'
			},
		{% endfor %}
		{% set i = count() %}
		{% for source, target, pmid in edges|unique_edges %}
			{
				data: {
					id: {{ i|next }},
					source: '{{ source }}',
					target: '{{ target }}',
					pmid: '{{ pmid }}'
				}
			},
		{% endfor %}
	],
	layout: {
		name: 'cola',
		maxSimulationTime: 1000
	}
});

cy.nodes().forEach(function(node) {
	var name = node.data('name');
	node.qtip({
		content: [
			{
				name: 'View node graph',
				url: '{{ base }}/components/'+name+'.html'
			},
			{
				name: 'View on Harminizome',
				url: 'http://amp.pharm.mssm.edu/Harmonizome/gene/'+name
			},
			{
				name: 'View on GeneCard',
				url: 'http://www.genecards.org/cgi-bin/carddisp.pl?gene='+name
			}
		].map(function(link) {
				return '<a href="'+link.url+'">'+link.name+'</a>';
			}).join('<br />\n'),
		position: {
			my: 'top center',
			at: 'bottom center'
		},
		style: {
			classes: 'qtip',
			tip: {
				width: 16,
				height: 8
			}
		}
	});
});

cy.edges().forEach(function(edge) {
	edge.qtip({
		content: edge.data('pmid').split(' ').map(function(pmid) {
				return {
						name: 'View PubMed Article ('+pmid+')',
						url: 'http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=pubmed&dopt=Abstract&list_uids='+pmid
					}
			}).map(function(link) {
				return '<a href="'+link.url+'">'+link.name+'</a>';
			}).join('<br />\n'),
		position: {
			my: 'top center',
			at: 'bottom center'
		},
		style: {
			classes: 'qtip',
			tip: {
				width: 16,
				height: 8
			}
		}
	});
});

$('#intrinsic').change(function() {
	if(!$(this).is(':checked'))
		cy.$('.intrinsic').addClass('hidden');
	else
		cy.$('.intrinsic').removeClass('hidden');
});

$('#associated').change(function() {
	if(!$(this).is(':checked'))
		cy.$('.associated').addClass('hidden');
	else
		cy.$('.associated').removeClass('hidden');
});
