<script src="{{ path }}js/cytoscape.min.js"></script>
<script src="{{ path }}js/cola.v3.min.js"></script>
<script src="{{ path }}js/cytoscape-cola.js"></script>
<script>
var cy = cytoscape({
	container: $('#graph'),
	style: [
		{
			"selector": "core",
			"style": {
				"selection-box-color": "#AAD8FF",
				"selection-box-border-color": "#8BB0D0",
				"selection-box-opacity": "0.5"
			}
		},
		{
			"selector": "node",
			"style": {
				"width": "data(size)",
				"height": "data(size)",
				"content": "data(name)",
				"font-size": "12px",
				"text-valign": "center",
				"text-halign": "center",
				"background-color": "data(color)",
				"text-outline-color": "#555",
				"text-outline-width": "2px",
				"color": "#fff",
				"overlay-padding": "6px",
				"z-index": "10"
			}
		},
		{
			"selector": "node:selected",
			"style": {
				"border-width": "6px",
				"border-color": "#AAD8FF",
				"border-opacity": "0.5",
				"background-color": "#77828C",
				"text-outline-color": "#77828C"
			}
		},
		{
			"selector": "node.highlighted",
			"style": {
				"border-width": "6px",
				"border-color": "#AAD8FF",
				"border-opacity": "0.5",
				"background-color": "#394855",
				"text-outline-color": "#394855",
				"shadow-blur": "12px",
				"shadow-color": "#000",
				"shadow-opacity": "0.8",
				"shadow-offset-x": "0px",
				"shadow-offset-y": "4px"
			}
		},
		{
			"selector": "node.unhighlighted",
			"style": {
				"opacity": "0.2"
			}
		},
		{
			"selector": "edge",
			"style": {
				"curve-style": "haystack",
				"haystack-radius": "0.5",
				"opacity": "0.4",
				"line-color": "data(color)",
				"width": "mapData(weight, 0, 1, 1, 8)",
				"overlay-padding": "3px"
			}
		},
		{
			"selector": "edge.highlighted",
			"style": {
				"z-index": "999999"
			}
		},
		{
			"selector": "edge.unhighlighted",
			"style": {
				"opacity": "0.05"
			}
		}
	],
	elements: [
		{% for sym, fa in nodes %}
			{
				data: {
					id: '{{ sym }}',
					name: '{{ sym }}',
					color: {% if fa=="Intrinsic Proteins" %}'#555'{% else %}'#aaa'{% endif %},
					size: 50
				}
			},
		{% endfor %}
		{% set i = count() %}
		{% for source, target in edges %}
			{
				data: {
					id: {{ i|next }},
					source: '{{ source }}',
					target: '{{ target }}',
					color: '#222'
				}
			},
		{% endfor %}
	],
	layout: {
		name: 'cola',
		maxSimulationTime: 1000
	}
});

cy.on('tap', 'node', function(e){
	window.location.href = this.data('name')+'.html';
});

$(window).resize(function() { cy.resize(); });

</script>

