<div id="head-er">
	<div class="header-nonad-wrapper" id="top">
		<div class="accessibility-login-wrap">
			<div class="accessibility-login">
				<ul class="jumplinks">
					<li class="first"><a href="#content">Jump&nbsp;to&nbsp;main&nbsp;content</a></li>
					<li><a href="#main-journal-nav">Jump&nbsp;to&nbsp;navigation</a></li>
				</ul>
				<span class="cleardiv"><!-- --></span>
			</div>
		</div>
		<span class="cleardiv"><!-- --></span>
		<hr />
		<div class="image-user-services-wrap">
			<div class="image-user-services">
				<a href="{{ base }}/index.html">Adhesome<em>FA</em>network</a>
			</div>
			<span class="cleardiv"><!-- --></span>
		</div>
		<span class="cleardiv"><!-- --></span>
		<hr />
		<div class="publications-search-wrap clearfix">
			<div class="publications-search">
				<div id="cse">Loading</div>
				<span class="cleardiv"><!-- --></span>
			</div>
		</div>
	</div>
</div>

