<div id="journalnav">
	<h1 class="hidden">Site Navigation</h1>
	<map title="main journal navigation" id="main-journal-nav" class="journal-nav">
		<ul class="xoxo">
			<li class="site-nav-title">
				<h1>Site Navigation</h1>
				<ul>
					<li{% if page == "home" %} class="selected"{% endif %}><a href="{{ base }}/index.html" title="The main Adhesome homepage">Home</a></li>
					{% if page == "components" %}
						<li class="selected"><a href="{{ base }}/components.html" title="Genetic components that make up the adhesome">Components</a>
							<ul class="subnav">
								<li{% if name %} class="selected"{% endif %}><a href="{{ base }}/components/all.html" title="All components">Network Graph</a></li>
							</ul>
						</li>
					{% else %}
						<li><a href="{{ base }}/components.html" title="Genetic components that make up the adhesome">Components</a></li>
					{% endif %}
					<li{% if page == "interactions" %} class="selected"{% endif %}><a href="{{ base }}/interactions.html" title="Protein interactions in the adhesome">Protein Interactions</a></li>
					<li{% if page == "associations" %} class="selected"{% endif %}><a href="{{ base }}/associations.html" title="Functional associations in the adhesome">Functional Associations</a>
						{% if page == "associations" and name %}
							<ul class="subnav">
								{% for typ_ in ["prot_att", "prot_prot", "att_att"] %}
									<li{% if typ and typ == typ_ %} class="selected"{% endif %}>
										<a href="{{ base }}/associations/{{ uri }}_{{ typ_ }}.html" title="{{ typ_|typ_lookup }}">{{ typ_|typ_lookup }}</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
					<li{% if page == "predictions" %} class="selected"{% endif %}><a href="{{ base }}/predictions.html" title="Predictions">Predictions</a></li>
					<li{% if page == "contact" %} class="selected"{% endif %}><a href="{{ base }}/contact.html" title="Contact details">Contact Us</a></li>
				</ul>
			</li><br />
			<li class="spacing"><h2 class="npg-resources">External links</h2></li>
			<li><a href="https://www.cellmigration.org/">cellmigration.org</a></li>
			{#
			<li class="nav-ealert nav-twitter"><a href="http://twitter.com/Cell_Migration" class="reg-rec" title="Twitter">Twitter</a></li>
			<li class="nav-rss"><a href="{{ base }}/cmg_update/rss.rdf" class="rss" title="RSS">RSS</a></li>
			#}
		</ul>
	</map>
</div>

