{% extends "_base.html" %}
{% block title%}Contact{% endblock %}
{% block body %}
<h1>Contact Information</h1>
<p class="alpha">
	All questions related to dataset should be directed to ronen.zaidel-bar{at}weizmann.ac.il, biological queries should be addressed to benny.geiger{at}weizmann.ac.il. Inqueries regarding the content on this web-site should be addressed to avi.maayan{at}mssm.edu.<br />
	<br />
	Additional contact information can be found at the Geiger laboratory web-site: <br><a href="http://www.weizmann.ac.il/mcb/Geiger/">http://www.weizmann.ac.il/mcb/Geiger/</a><br><br>and at the Iyengar Laboratory web-site: <br />
	<a href="http://www.mssm.edu/labs/iyengar/">http://www.mssm.edu/labs/iyengar/</a>
</p>
{% endblock %}
