{% set page = "home" %}
{% macro button(title, image, link) -%}
<div style="display: flex; flex-direction: row;">
	<a href="{{ link }}" style="display: flex; flex-direction: column; justify-content: center; color: #000; font-size:100%; text-decoration:none;">
		<img src="{{ image }}" alt="{{ title }}" />
		<span style="text-align: center;">{{ title }}</span>
	</a>
</div>
{%- endmacro %}
{% extends "_base.html" %}
{% block body %}
<div id="content">
	{{ button('Components', 'images/small_net.jpg', 'components.html') }}
	{{ button('Functional Associations', 'images/small_net.jpg', 'associations.html') }}
	{{ button('Protein-Protein Interactions', 'images/small_net.jpg', 'interactions.html') }}
</div>
{% endblock %}
