{% set page = "home" %}
{% macro button(title, image, link) -%}
<div class="card-panel hoverable">
	<a href="{{ link }}">
			<div class="card-image">
				<img src="{{ image }}" style="width:100%">
				<span class="card-title">{{ title }}</span>
			</div>
	</a>
</div>
{%- endmacro %}

{% extends "_base.html" %}
{% block title%}Project Description{% endblock %}
{% block body %}
<main class="section valign-wrapper">
	<div class="row valign">
		<div class="col s6">
			{{ button('Components', 'small_net.jpg', 'components.html') }}
		</div>
		<div class="col s6">
			{{ button('Protein-Protein Interactions', 'small_net.jpg', 'interactions.html') }}
		</div>
	</div>
</main>
{% endblock %}
