{% set title = "Protein Interactions" %}
{% set page = "interactions" %}
{% extends "_base.html" %}
{% block body %}
<main class="container">
	<h1>Interactions</h1>
	{% set substitutions %} {
		"source": "<a href='http://amp.pharm.mssm.edu/Harmonizome/gene/[[ source ]]'>[[ source ]]</a>",
		"target": "<a href='http://amp.pharm.mssm.edu/Harmonizome/gene/[[ target ]]'>[[ target ]]</a>",
		"pmid": "[% for i in pmid.split(' ') %]<a href='http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=pubmed&dopt=Abstract&list_uids=[[ i ]]'>[[ i ]]</a><br />[% endfor %]"
	} {% endset %}
	{% set table = query("select * from interactions")|apply(substitutions) %}
	{% include "_table.html" %}
</main>
{% endblock %}
