{% set page = "privacy" %}
{% extends "_base.html" %}
{% block body %}
<div id="content">
	<h1 class="page-header">Adhesome Privacy Statement</h1>
	<p>Adhesome is maintained by MaayanLabs</p>
	<p>We are committed to providing quality information and services to the scientific community. In order to do this, we need to know a little about you.</p>
	<p><span class="b">What information do we collect?</span></p>
	<p>We collect the domain name, but not the e-mail address, of visitors to the Adhesome webpage.</p>
	<p>We also collect aggregate and user-specific information on the pages that users visit. This information is used for internal review by us, to improve the content of the site, to notify readers about updates to the website. The database is hosted by the MaayanLabs but is not sold or traded with other organizations.</p>
	<p><span class="b">Cookies</span></p>
	<p>We use cookies to record session information and to track a user's path through the website. This enables us to respond more effectively to any problems and to offer a more personalised service. We also use cookies to deliver banner advertisements that are appropriate to each visitor, but these do not uniquely identify our visitors in any way.</p>
	<p><span class="b">Registration for E-mail alerts</span></p>
	<p>When registering for the Cell Migration Update e-mail table of contents, we ask only your e-mail address.</p>
	<p><span class="b">Your privacy is important to us</span></p>
	<p>We strive to do everything we can to protect the privacy of Cell Migration Gateway users. We do not share this information with any third parties.</p>
	<p>From time to time, we may use customer information for new, unanticipated uses not previously disclosed in this privacy notice. If our information practices change we will post these changes here to notify you and provide you with the ability to opt out of these new uses. If you are concerned about how your information is used, we recommend that you review this Privacy Statement periodically, as we may update it from time to time.</p>
</div>
{% endblock %}
