{% set title = title|default(page|capitalize) %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{{ title }}</title>
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="home" href="{{ config.base }}/index.html" title="home" />
	<script src="https://www.google.com/jsapi" type="text/javascript"></script>
	<script type="text/javascript">
	google.load("jquery", "1");
	</script>
	<script type="text/javascript">
	jQuery.noConflict();
	var $jq = $ = jQuery;
	</script>
	{% block head %}{% endblock %}
	<link rel="stylesheet" href="{{ config.base }}/static/lib/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ config.base }}/css/main.css">
</head>
<body class="flex-col">
	<div id="header" class="flex-col">
		<div class="container flex-expand flex-row flex-align-center">
			<a href="{{ config.base }}/index.html">The Adhesome: <span style="color:#fec672;">A Focal Adhesion Network</span></a>
		</div>
	</div>
	<div class="container flex-expand flex-row">
		<div id="nav">
			{% set page = page %}
			{% set subpage = subpage %}
			{% set nav = evaluate("_base/__nav.py") %}
			{% include "_base/_nav.html" %}
		</div>
		<div id="content" class="flex-expand flex-col">
			{% block body %}{% endblock %}
		</div>
	</div>
	<div id="footer" class="footer">
		<div class="container">
			<div class="col-sm-6">
				<h4>Affiliations</h4>
				<ul>
					<li><a href="http://www.geigerlab.com/">Geiger Laboratory</a></li>
					<li><a href="https://www.weizmann.ac.il/pages/">Weizmann Institute of Science</a></li>
					<li><a href="http://icahn.mssm.edu/research/labs/maayan-laboratory">Ma’ayan Laboratory</a></li>
					<li><a href="http://icahn.mssm.edu/">Icahn School of Medicine at Mount Sinai</a></li>
					<li><a href="http://lincs-dcic.org/">BD2K-LINCS</a></li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h4>Share</h4>
			</div>
		</div>
	</div>
	{% block scripts %}{% endblock %}
</body>
</html>
