<p class="back-to-top hidden"><a href="#top">Top<span class="hidden"> of page</span></a></p>
<div class="footer">
	<div class="clearfix">
		<div class="left">
			<h4>Affiliations</h4>
			<ul>
				<li><a href="http://www.geigerlab.com/">Geiger Laboratory</a></li>
				<li><a href="https://www.weizmann.ac.il/pages/">Weizmann Institute of Science</a></li>
				<li><a href="http://icahn.mssm.edu/research/labs/maayan-laboratory">Ma’ayan Laboratory</a></li>
				<li><a href="http://icahn.mssm.edu/">Icahn School of Medicine at Mount Sinai</a></li>
				<li><a href="http://lincs-dcic.org/">BD2K-LINCS</a></li>
			</ul>
		</div>
		<div class="right">
			<h4>Share</h4>
		</div>
	</div>
</div>
<div id="foot-er" class="footer">
	<div id="footer-journal">
		<div class="footer-constrain clearfix">
			<p class="journal-name">Adhesome</p>
		</div>
		<span class="cleardiv"><!-- --></span>
	</div>
	<div id="footer-copyright">
		<div class="footer-constrain">
			<p>&#169; 2016 Adhesome - All Rights Reserved | <a href="{{ config.base }}/privacy.html">Privacy policy &amp; Terms of Use</a></p>
		</div>
	</div>
</div>

