<p class="back-to-top hidden"><a href="#top">Top<span class="hidden"> of page</span></a></p>
<div id="foot-er" class="footer">
	<div id="footer-journal">
		<div class="footer-constrain clearfix">
			<p class="journal-name">Adhesome</p>
		</div>
		<span class="cleardiv"><!-- --></span>
	</div>
	<div id="footer-copyright">
		<div class="footer-constrain">
			<p>&#169; 2016 Adhesome - All Rights Reserved | <a href="{{ config.base }}/privacy.html">Privacy policy &amp; Terms of Use</a></p>
		</div>
	</div>
</div>

