<div id="head-er">
	<div class="header-nonad-wrapper" id="top">
		<div class="image-user-services-wrap">
			<div class="image-user-services">
				<a href="{{ base }}/index.html">The Adhesome: <span style="color:#fec672;">A Focal Adhesion Network</span></a>
			</div>
			<span class="cleardiv"><!-- --></span>
		</div>
		<span class="cleardiv"><!-- --></span>
		<hr />
		<div class="publications-search-wrap clearfix">
			<div class="publications-search">
				<span class="cleardiv"><!-- --></span>
			</div>
		</div>
	</div>
</div>

