<h1>Site Navigation</h1>
<ul>
	{% for t, n in nav %}
		{% set p, s, subnav = n %}
		<li{% if page == p %} class="selected"{% endif %}><a href="{{ config.base }}/{{ s }}">{{ t }}</a>
			{% if subnav and page == p %}
				<ul>
					{% for tt, nn in subnav %}
						{% set pp, ss = nn %}
						<li{% if subpage and subpage == pp %} class="selected"{% endif %}><a href="{{ config.base }}/{{ ss }}">{{ tt }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
</ul>
<h2>External links</h2>
<ul>
	<li><a href="https://www.cellmigration.org/">cellmigration.org</a></li>
</ul>

