{% set title = title|default("Component: %s"|format(name)) %}
{% set page = page|default("components") %}
{% set table = graph|default("components/%s"|format(name)) %}
{% set graph = graph|default("components/%s"|format(name)) %}
{% extends "_base/_base.html" %}
{% block head %}
	{% include "_table/_head.html" %}
	{% include "_graph/_head.html" %}
{% endblock %}
{% block body %}
<div id="content">
	<h1 class="page-header">
		<a href="{{ config.base }}/components.html">Components</a>
		<a href="#!">&gt;</a>
		<a href="{{ config.base }}/all_components.html">All Components</a>
		{% if name %}
			<a href="#!">&gt;</a>
			<a href="{{ config.base }}/components/{{ urlize(name) }}.html">{{ name }}</a>
		{% endif %}
	</h1>
	{% set graph = graph %}
	{% include "_graph/_body.html" %}
	<div class="wrap-row">
		<div>
			<input type="checkbox" id="intrinsic" checked="checked" />
			<label for="intrinsic"><span style="background-color: #081838;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Intrinsic Proteins</label>
			<br />
			<input type="checkbox" id="associated" checked="checked" />
			<label for="associated"><span style="background-color: #fec672;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Associated Protiens</label>
		</div>
		<div class="expand">&nbsp;</div>
		<span>
			<span class="b">Network Stats</span><br />
			<span id="graph-stat-components">0</span> Components<br />
			<span id="graph-stat-interactions">0</span> Interactions
		</span>
	</div>
	{% set table = table %}
	{% block table_body %}
	<br />
	<div class="clearfix">
		{% set table = table %}
		{% include "_table/_body.html" %}
	</div>
	{% endblock %}
</div>
{% endblock %}

{% block scripts %}
	{% set table = table %}
	{% block table_scripts %}
		{% set table = table %}
		{% include "_table/_scripts.html" %}
	{% endblock %}
	{% set central = name %}
	{% set graph = graph %}
	{% include "_graph/_scripts.html" %}
{% endblock %}
